body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
    text-transform: none;
}
.all {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}
.titulo{
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    display: grid;
    grid-template-columns: 80% 20%;
    grid-template-rows: 100%;
}

.titulo h1{
    text-align: left;
    font-size: 20px;
    margin-bottom: 2px;
    color: #333;
    float: left;
}

.frames {
    min-width: 300px;
    max-width: 300px;
    margin: 20px;
    height: 250px;
    max-height: 260px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    float: left;
}
.frames h1 {
    color: #333;
    text-align: center;
}
.frames img{
    width: 60%;
    height: 50%;
    margin-left: 20%;
}
.frames button {
    display: block;
    margin: 0 auto;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
    margin-top: 5%;
}

.frames button:hover {
    background-color: #0056b3;
}